.hero {
  height: 100%;
  width: 100%;
}

.intro-img img {
  width: 100%;
  position: relative;
  object-fit: cover;
}

.content {
  height: 35%;
  width: 43%;
  position: absolute;
  top: 35%;
  left: 11%;
  font-size: 75px;
  border: 2px solid white;
  padding-left: 40px;
  padding-top: 40px;
}

.content p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: white;
}
